@import "../scss/variables";

.head {
	max-width: 1200px;
	height: 688px;
	margin: 0 auto;
	background: url('../img/header_bg.jpg') no-repeat;
}

header {
	display: flex;
	justify-content: space-between;
}

.logo img{
	margin: 18px 0 0 -16px;
	height: 94px;
}

nav {
	margin-top: 61px;
	width: 505px;
	display: flex;
	& a {
		height: 37px;
		font-size: 18px;
		font-weight: 500;
		color: white;
		text-transform: uppercase;
		z-index: 2;
		line-height: 37px;
		transition: $transition-speed;
		padding: 0 15px;
		letter-spacing: $letter-spacing03;
		&:hover {
			cursor: pointer;
			padding: 0 15px;
			background-color: $blue-color;
			border-radius: 6px;
			transition: $transition-speed;
		}
	}
}

.promo-title {
	width: 640px;
	margin-top: 139px;
	font-size: 90px;
	font-weight: bold;
	letter-spacing: -1.7px;
	color: $blue-color;
	line-height: 0.889;
	& span {
		color: white;
	}
}

.promo-text {
	width: 478px;
	margin-top: 38px;
}