@import "../scss/variables";

.pricing {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #efefef;
	text-align: center;
	padding: 49px 0 63px 0;
}

.pricing-row {
	display: flex;
	justify-content: space-between;
}

.pricing-card {
	width: 318px;
	min-height: 388px;
	margin-top: 54px;
	background-color: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__plan {
		padding-top: 30px;
		color: $dark-text;
		font-size: 22px;
		font-family: 'PT Serif', sans-serif;
		letter-spacing: $letter-spacing03;
	}
	&__price {
		padding-top: 10px;
		font-size: 60px;
		font-weight: bold;
		color: $red-color;
	}
	&__services {
		padding-top: 10px;
	}
	&__blue__btn {
		display: block;
		width: 205px;
		height: 50px;
		line-height: 50px;
		border-radius: 5px;
		font-size: 22px;
		color: white;
		text-align: center;
		white-space: nowrap;
		background: $blue-color;
		transition: $transition-speed;
		padding: 0 10px;
		margin: 30px auto 12px auto;
		&:hover {
			background-color: $hover-blue;
			transition: $transition-speed;
		}
	}
	&__red__btn {
		display: block;
		width: 205px;
		height: 50px;
		line-height: 50px;
		border-radius: 5px;
		font-size: 22px;
		color: white;
		text-align: center;
		white-space: nowrap;
		background: $red-color;
		transition: $transition-speed;
		padding: 0 10px;
		margin: 30px auto 12px auto;
		&:hover {
			background-color: $hover-red;
			transition: $transition-speed;
		}
	}
}