.works {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
}
.work-card {
	display: flex;
	flex-direction: column;
	background-color: $body-color;
	border-radius: 15px;
	overflow: hidden;
	font-size: 16px;
	text-align: center;
	transition: all 0.3s;
	&:hover{
		-webkit-box-shadow: 0px 18px 30px 0px #b7bac5; 
		box-shadow: 0px 18px 30px 0px #b7bac5;
		transform: translateY(-5px);
		transition: all 0.3s;
	}
	&__title {
		color: black;
		padding: 15px 0;
	}
}