// @import "../scss/localfonts";
@import "../scss/helpers";
@import "../scss/buttons";

.box {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 200px;
    transition: 1s;
    animation: spin 3s 1 linear;

}

@keyframes spin {
    0% {
        transform: rotate(0turn) translateY(-250px) translateY(50%) rotate(1turn);
    }
    100%{
        transform: rotate(1turn) translateY(-250px) translateY(50%) rotate(0turn);
    }
}
