@font-face {
	font-family: fontname;
	src: url(../fonts/GoogleSans-Regular.woff2);
	font-weight: regular;}
@font-face {
	font-family: fontname;
	src: url(../fonts/GoogleSans-Medium.woff2);
	font-weight: medium;}

body {
	font-family: "GoogleSans-Regular";
}