@import "../scss/variables";
@import "../scss/adaptive-parametrs";

.footer {
	max-width: 1200px;
	margin: 0 auto;
	background: $blue-color;
}

.footer-row {
	padding: 3em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
}

.footer-text a {
	color: $red-color;
}

.footer-logo {
	width: 212px;
	@include adaptiv-value("width", 212, 140, 2);
}