@import "../scss/variables";

.footer {
	max-width: 1200px;
	margin: 0 auto;
	background: $blue-color;
}

.footer-row {
	height: 188px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-text a{
	color: $red-color;
}

.footer-logo {
	width: 212px;
}