@import "../scss/variables";

.services {
	max-width: 1200px;
	margin: 0 auto;
}
.services-title {
	margin-top: 36px;
	& span {
		color: $red-color;
	}
}
.services-row {
	margin-top: 84px;
	display: flex;
	justify-content: space-between;
}
.services-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.services-card__text {
	margin-top: 28px;
	width: 185px;
}