@import "../scss/variables";
@import "../scss/adaptive-parametrs";

.story {
	max-width: 1200px;
	margin: 65px auto 0 auto;
	background: $blue-color;
	padding: 31px 0 25px 0;
}

.story-row {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
}

.story-text {
	max-width: 640px;
}

.story-btn {
	height: 64px;
	line-height: 64px;
	background: $red-color;
	border-radius: 5px;
	@include adaptiv-value("font-size", 22, 12, 2);
	color: white;
	text-align: center;
	padding: 0 10px;
	white-space: nowrap;
	transition: $transition-speed;

	@media (max-width: 600px) {
		height: 50px;
		line-height: 50px;
	}

	&:hover {
		background-color: $hover-red;
		transition: $transition-speed;
	}
}