@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root {
	/* var(--animation-background) */
	--nav-width: 900px;
	--nav-background: #4c4e54;
	--animation-background: #c14a44;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
}
nav{
	display: flex;
	position: relative;
	margin: 0 auto;
	width: var(--nav-width);
	height: 50px;
	background: var(--nav-background);
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
	overflow: hidden;
}
.nav-item {
	text-align: center;
	color: white;
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
}
nav .animation{
	position: absolute;
	/*height: 100%;*/
	height: 5px; 
	top: 0;
	/*bottom: 5px; */
	z-index: 0;
	background: var(--animation-background);
	border-radius: 8px;
	transition: all .5s ease 0s;
}
.n1, .n2, .n3, .n4, .n5 {
	z-index: 1;
	width: 100%;
}
.start-home, .n1:hover~.animation{
	width: calc(var(--nav-width) / 5);
	left: 0;
}
.n2:hover~.animation{
	width: calc(var(--nav-width) / 5);
	left: calc(var(--nav-width) / 5);
}
.n3:hover~.animation{
	width: calc(var(--nav-width) / 5);
	left: calc(var(--nav-width) / 5 * 2);
}
.n4:hover~.animation{
	width: calc(var(--nav-width) / 5);
	left: calc(var(--nav-width) / 5 * 3);
}
.n5:hover~.animation{
	width: calc(var(--nav-width) / 5);
	left: calc(var(--nav-width) / 5 * 4);
}
