@font-face {
	font-family: GoogleSans-Regular;
	src: url(../fonts/GoogleSans-Regular.woff2);
	font-weight: regular;}
@font-face {
	font-family: GoogleSans-Medium;
	src: url(../fonts/GoogleSans-Medium.woff2);
	font-weight: medium;}

body {
	font-family: "GoogleSans-Regular";
	font-weight: regular;
}