* {margin: 0;padding: 0;box-sizing: border-box;}
ul {list-style: none;}

body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hamb {
	display: none;
	width: 100%;
 }

.navigation {
	margin: 20px auto 10px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

ul {
	max-width: 100%;
}

.popup {
	display: none;
}

.navigation a {
	height: 37px;
	font-size: 18px;
	font-weight: 500;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	transform: scale(0.95, 1);
	z-index: 2;
	line-height: 37px;
	padding: 0 15px;
	-webkit-transform:translate3d(0,0,0);
}

.navigation a:hover {
	cursor: pointer;
	padding: 0 15px;
	color: white;
	background: linear-gradient(0deg, rgba(29,128,35,1) 0%, rgba(91,174,91,1) 100%);
	border-radius: 6px;
	-webkit-transform:translate3d(0,0,0);
}

.main {
	height: 400px;
	margin: 0 auto;
}

img, .text {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-container {
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 300px);
	padding: 10px 50px;
	gap: 10px;
	display: grid;
	grid-auto-rows: auto;
}

.text {
	padding: 1rem;
	font-size: 1.5rem;
	display: flex;
}

.text1 {
   align-items: flex-end;
	font-weight: bold;
	grid-column: 1 / 3;
}

.text2 {
   align-items: center;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}
.imag1 {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}
.imag2 {
}
.imag3 {
	object-position: left top;
	grid-column: 5 / 6;
}

@media (max-width: 1065px) {
	.grid-container {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, auto);
		padding: 10px 50px;
		gap: 10px;
	}
	.text {
		padding: 0;
		font-size: 1rem;
	}
	.text1 {
		align-items: flex-start;
		grid-column: 1 / 5;
		grid-row: 1;
	}
	.text2 {
		align-items: flex-start;
		grid-column: 1 / 5;
		grid-row: 2;
	}
	.imag1 {
		grid-column: 1 / 3;
		grid-row: 3 / 5;
	}
	.imag2 {
		grid-column: 3 / 5;
		grid-row: 3;
	}
	.imag3 {
		object-position: left top;
		grid-column: 3 / 5;
		grid-row: 4;
	}
}

@media (max-width: 719px) {
	.hamb {
		display: flex;
		align-items: center;
		justify-content: end;
		position: fixed;
		top: 0;
		left: 0;
		background-color: white;
	 }
	 .hamb__field {
		padding: 35px 35px 18px 35px;
		cursor: pointer;
	 }
	 .bar {
		display: block;
		width: 30px;
		height: 3px;
		margin: 6px auto;
		background-color: rgb(0, 0, 0);
		transition: 0.2s;
	 }
	.navigation {
		display: none;
	}
	.grid-container {
		grid-template-columns: 1fr;
		padding: 10px 20px;
		gap: 5px;
	}
	.text {
		padding: 0 15px 10px 15px;
		font-size: 1rem;
	}
	.text1 {
		margin-top: 100px;
		align-items: flex-start;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.text2 {
		align-items: flex-start;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}
	.imag1 {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	.imag2 {
		grid-column: 1 / 2;
		grid-row: 4 / 5;
	}
	.imag3 {
		object-position: left top;
		grid-column: 1 / 2;
		grid-row: 5 / 6;
	}
	.popup {
		position: fixed;
		top: 75px;
		/* left: -100%; */
		right: -100%;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		z-index: 100;
		display: flex;
		transition: 0.3s;
	 }
	 .popup.open {
		/* left: 0; */
		right: 0;
	 }
	 .menu {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		overflow: auto;
	 }

	 .popup > .menu > a {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 20px 0;
		font-size: 20px;
		font-weight: bold;
		color: #3f3f3f;
		text-decoration: none;
	 }
	 .menu > a:hover {
		background-color: rgba(218, 218, 218, 0.5);
	 }
	 .hamb__field.active .bar:nth-child(2) {
		opacity: 0;
	 }
	 .hamb__field.active .bar:nth-child(1) {
		transform: translateY(9px) rotate(45deg);
	 }
	 .hamb__field.active .bar:nth-child(3) {
		transform: translateY(-9px) rotate(-45deg);
	 }
	 body.noscroll {
		overflow: hidden;
	 }
}